/*** COLOURS ***/
$link-color: #08C;
$link-color-dark: darken($link-color, 22%);
$grey-level-1: #eeeeee;
$grey-level-2: #dddddd;
$grey-level-3: #cccccc;
$grey-level-4: #bbbbbb;
$grey-level-5: #aaaaaa;
$grey-level-6: #999999;
$grey-level-7: #888888;
