/*** COLOURS ***/
$link-color: #0088cc;
$link-color-dark: darken($link-color, 22%);
$grey-level-1: #f3f3f3;
$grey-level-2: darken($grey-level-1, 5%);
$grey-level-3: darken($grey-level-1, 9%);
$grey-level-4: darken($grey-level-1, 13%);
$grey-level-5: darken($grey-level-1, 17%);
$grey-level-6: darken($grey-level-1, 21%);
$grey-level-7: darken($grey-level-1, 25%);
